* {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    color: cornsilk;
        box-sizing: border-box;
}

#main {
    background-color: black;
}

a.linkiwmenu:hover {
    text-decoration-color: cornsilk
}

#navbar {
    border-bottom: 5px solid cornsilk;
    align-items: center;
    text-align: center;
}

#title {
    font-size: 400%;
    text-align: center;
    padding-top: 2%;
}

#introduction {
    font-size: 20px;
    font-style: italic;
    padding: 3%;
    text-align: center;
    border-top: 5px solid cornsilk;
}

img.fryzjerzy {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

div.fryzjerzy {
    margin-left: 4%;
    margin-bottom: 6%;
    align-items: center;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 5%;
}

img.fryzjerzy {
    border: 7px solid cornsilk;
}

img.fryzjerzy:hover {
    border: 8px solid white;
}


#mail {
    text-decoration: none;
    color: cornsilk;
}

#mail:hover {
    color: bisque;
}

#mail:active {
    color: coral;
}

iframe {
    width: 100%;
    min-height: 300px;
}

#info {
    text-align: center;
    padding-top: 1%;
}

#info2 {
    text-align: center;
    font-size: 20px;
}

#hours {
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
}

#demo {
    font-size: 50px;
    color: crimson;
    text-shadow: 3px 1px 2px rgba(206, 118, 127, 1);
}

#demo2 {
    font-size: 50px;
    color: forestgreen;
    text-shadow: 3px 1px 2px rgba(178, 233, 127, 1);
}

#podpisy {
    text-align: center;
}

#fryz1 {
    visibility: hidden;
    font-size: 20px;
}

#fryz2 {
    visibility: hidden;
    font-size: 20px;
}

#fryz3 {
    visibility: hidden;
    font-size: 20px;
}

#fryz4 {
    visibility: hidden;
    font-size: 20px;
}

#fryz5 {
    visibility: hidden;
    font-size: 20px;
}

#podpisy:hover #fryz1 {
    visibility: visible;
}

#podpisy:hover #fryz2 {
    visibility: visible;
}

#podpisy:hover #fryz3 {
    visibility: visible;
}

#podpisy:hover #fryz4 {
    visibility: visible;
}

#podpisy:hover #fryz5 {
    visibility: visible;
}

.ourteam {
    text-align: center;
    padding-right: 5%;
    font-size: 40px;
}


#insta,
#facebook,
#youtube {
    width: 33px;
    height: 33px;
    border: 2px groove cornsilk;
    margin: 1%;
}

#insta:hover {
    transform: scale(1.01);
    border: 3px;
    border-style: solid;
    border-color: white;
}

#facebook:hover {
    transform: scale(1.01);
    border: 3px;
    border-style: solid;
    border-color: white;
}

#youtube:hover {
    transform: scale(1.01);
    border: 3px;
    border-style: solid;
    border-color: white;
}

#stopka {
    align-items: center;
    text-align: center;
}

#stopka2 {
    align-items: center;
    text-align: center;
    font-size: 10px;
    margin-bottom: 2%;
}

#join {
    text-align: center;
    border-bottom: 1px solid cornsilk;
    margin-top: 2%;
    font-size: 20px;
}

#price {
    text-align: center;
    border-bottom: 1px solid cornsilk;
    font-size: 30px;
}

img.price {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.list p {
    align-items: center;
    text-align: center;
}

#cennik {
    margin-top: 1%;
    text-align: center;
}

#dye,
#styling,
#makeup,
#women,
#men,
#children {
    text-align: center;
    border-bottom: 2px solid cornsilk;
    font-size: 20px;
    align-items: center;
    align-content: center;
}

.item img{
    margin-left: auto;
    margin-right: auto;
}

img.price {
    border: 7px solid cornsilk;
}

img.price:hover {
    border: 8px solid white;
}

#pricetable {
    width: 50%;
    border: 0px;
    align-items: center;
    font-size: 15px;
}

td.td2 {
    text-align: right;
}

#women {
    margin-top: 2%;
}

#p1 {
    font-size: 15px;
}

#carousel-example {
    -webkit-box-shadow: 0px 0px 68px -5px rgba(191, 191, 139, 1);
    -moz-box-shadow: 0px 0px 68px -5px rgba(191, 191, 139, 1);
    box-shadow: 0px 0px 68px -5px rgba(191, 191, 139, 1);
}

#title:hover {
    color: bisque;
}

@media (max-width: 768px) {
    .list{
        margin: 0 20% !important;
    }
}


@media only screen and (max-width: 365px) {
    #makesmaller {
        font-size: 15px;
    }
}

@media only screen and (max-width: 325px) {
    #makesmaller {
        font-size: 11px;
    }
}


@media only screen and (max-width: 816px) {
    .linkiwmenu {
        font-size: 12px;

    }
    #slideAd {
        visibility: hidden
    }
    
    .price, .list{
        margin: 0;
    }
}

@media only screen and (max-width: 916px) {
    .ourteam {
        font-size: 30px;
        padding-bottom: 10px;
    }
}

#slideAd {
    width: 230px;
    height: 90px;
    background-color: #403c3b;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #fff;
    border-top: 3px solid #c1d9ff;
    border-left: 3px solid #c1d9ff;
    border-bottom: 3px solid #c1d9ff;
    position: fixed;
    padding: 20 20 20 20;
    bottom: 20px;
    right: -235px;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    -webkit-box-shadow: 0px 0px 68px -5px rgba(191, 191, 139, 1);
    -moz-box-shadow: 0px 0px 68px -5px rgba(191, 191, 139, 1);
    box-shadow: 0px 0px 68px -5px rgba(191, 191, 139, 1);
}


#footer {
    background: none;
    color: #fff;
}

/*#logologo{width: 8%; height: 200px; float: left;}*/
